main {
	background-color:rgb(118,179,157);
	color:white;
	border-radius:10px;
	position:absolute;
	width:99%;
	height:auto;
	margin:10px;
	}
.k {
	display:flex;
	gap:10px;
	
	flex-direction:column;
	justify-content:center;
	align-items:center;
	
	
	position:relative;
	width:30%;
	height:auto;
	margin:auto;
	margin-bottom:1rem;
	margin-top:1rem;
	background-color:rgb(245,245,245);
	border:/*0.2rem solid blue*/;
	border-top-left-radius:10px;
	border-top-right-radius:10px;
	}
.o {
	display:flex;
	gap:10px;
	flex-direction:column;
	justify-content:center;
	align-items:center;
	/*border-radius:10px;*/
	position:relative;
	width:30%;
	height:;
	margin:auto;
	margin-bottom:1.8rem;
	background-color:rgb(245,245,245);
	border-bottom-left-radius:10px;
	border-bottom-right-radius:10px;
	
	}
.m {
	background-color:rgb(92,153,130);
	width:100%;
	border-top-left-radius:10px;
	border-top-right-radius:10px;
	text-align:center;
	}
input {
	font-size:1rem;
	text-align:left;
	width:75%;
	margin-left:-100px;
	margin-right:-100px;
	padding:0.5rem;
	border-radius:10px;
	:5px;
	}
a {
	color:rgb(118,179,157);
	text-decoration:none;
	font-size:1rem;
	display:inline;
	}
button {
	background-color:rgb(92,153,130);
	text-align:center;
	width:75%;
	margin-left:-100px;
	margin-right:-100px;
	border:none;
	padding:0.5rem;
	border-radius:10px;
	color:white;}
 p {
	color:rgb(60,60,60);
	}
.l {
    color:rgb(60,60,60);
	margin:auto;
	margin-left:3.2rem;
	margin-top:2rem;
	margin-bottom:1rem;
	font-weight:bold;
	font-size:1.5rem;
	}
span {
	text-decoration:underline;
	text-decoration-thickness:3px;
	text-decoration-color:rgb(118,179,157);
	}
.tt {
	display:flex;
	flex-direction:row;
	justify-content:center;
	align-items:center;
	}
